
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CH Nông sản</title>
    <link href="~/Assets/startbootstrap-sb-admin-gh-pages/dist/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>

    <link rel="icon" href="assets/img/brand/favicon.png" type="image/png">
    <link rel="stylesheet" href="~/Assets/argon-dashboard-master/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/argon-dashboard-master/assets/vendor/fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/argon-dashboard-master/assets/css/argon.css?v=1.2.0" type="text/css">
</head>
<body class="sb-nav-fixed">
    @{ Html.RenderAction("TopSide", "Home");}
    <div id="layoutSidenav">

        @{ Html.RenderAction("LeftSide", "Home");}
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
            </main>
            @RenderPage("_FooterNav.cshtml")
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Assets/startbootstrap-sb-admin-gh-pages/dist/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/Assets/startbootstrap-sb-admin-gh-pages/dist/assets/demo/chart-area-demo.js"></script>
    <script src="~/Assets/startbootstrap-sb-admin-gh-pages/dist/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/Assets/startbootstrap-sb-admin-gh-pages/dist/assets/demo/datatables-demo.js"></script>

    <script src="~/Assets/argon-dashboard-master/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/Assets/argon-dashboard-master/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/Assets/argon-dashboard-master/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <script src="~/Assets/argon-dashboard-master/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="~/Assets/argon-dashboard-master/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <script src="~/Assets/argon-dashboard-master/assets/js/argon.js?v=1.2.0"></script>
</body>
</html>

