<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Cửa hàng nông sản</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/freshshop/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Assets/freshshop/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Assets/freshshop/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Assets/freshshop/css/custom.css">

    <link rel="icon" href="~/Assets/argon-dashboard-master/assets/img/brand/favicon.png" type="image/png">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    
    @RenderPage("_Top.cshtml")
    @RenderBody()
    @RenderPage("_Footer.cshtml")

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="~/Assets/freshshop/js/jquery-3.2.1.min.js"></script>
    <script src="~/Assets/freshshop/js/popper.min.js"></script>
    <script src="~/Assets/freshshop/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/Assets/freshshop/js/jquery.superslides.min.js"></script>
    <script src="~/Assets/freshshop/js/bootstrap-select.js"></script>
    <script src="~/Assets/freshshop/js/inewsticker.js"></script>
    <script src="~/Assets/freshshop/js/bootsnav.js."></script>
    <script src="~/Assets/freshshop/js/images-loded.min.js"></script>
    <script src="~/Assets/freshshop/js/isotope.min.js"></script>
    <script src="~/Assets/freshshop/js/owl.carousel.min.js"></script>
    <script src="~/Assets/freshshop/js/baguetteBox.min.js"></script>
    <script src="~/Assets/freshshop/js/jquery-ui.js"></script>
    <script src="~/Assets/freshshop/js/jquery.nicescroll.min.js"></script>
    <script src="~/Assets/freshshop/js/form-validator.min.js"></script>
    <script src="~/Assets/freshshop/js/contact-form-script.js"></script>
    <script src="~/Assets/freshshop/js/custom.js"></script>
</body>

</html>