
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header pb-6">
</div>
<hr />
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Giỏ hàng</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Sản phẩm</th>
                                <th scope="col" class="sort" data-sort="budget">Giá</th>
                                <th scope="col" class="sort" data-sort="budget">Loại sản phẩm</th>
                                <th scope="col" class="sort" data-sort="budget">Số lượng</th>
                                <th scope="col" class="sort" data-sort="budget">Tổng tiền</th>
                                <th scope="col" class="sort" data-sort="budget"></th>
                                <th scope="col" class="sort" data-sort="budget"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr id="row_">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div href="#" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="~/Upload/Image/Product_Image_e081df8f-3076-4cb3-add1-52c7dd71df25hat-dieu-rang-muoi-255g-main_b788fc32e11d40e28666f1035a0ade9f_master.jpg">
                                        </div>
                                        Hạt điều
                                    </div>
                                </th>
                                <td>
                                    <div class="media align-items-center">
                                        100,000 đ
                                    </div>
                                </td>
                                <td>
                                    hạt
                                </td>
                                <td>
                                    10
                                </td><td>
                                    10,000,000
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            @*@Html.ActionLink("Sửa thông tin", "Edit", "Product", new { id = item.ID }, new { @class = "dropdown-item" })
                                                @Html.ActionLink("Xem chi tiết", "Detail", "Product", new { id = item.ID }, new { @class = "dropdown-item" })*@
                                                <button class="dropdown-item"  href="#">Bỏ sản phẩm</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />